/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

/* Header */
.header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.header h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #007bff;
}

.header-image {
    max-width: 50vh;
    border-radius: 10px;
}

/* Main Content */
.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}

.content h2 {
    font-size: 1.75rem;
    color: #007bff;
    margin-bottom: 15px;
}

.content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.content p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.beach-image {
    max-width: 50vh;
    margin: 20px auto;
    border-radius: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
}
